/* BOUNCING ARROW */

.contentDiv {
    background-color: transparent;
    height: 200px;
    width: 200px;
}

@keyframes bouncing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}

.arrow {
    position: absolute;
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 70px;
    left: calc(50% - 35px);
    width: 70px;
    z-index: 2;
}


/* CENTERED TEXT ANIMATION */

h1.centeredText {
    transform: translateY(-500px);
    animation: 1.2s slideIn ease-in-out forwards 0.3s;
    opacity: 0;
}

@keyframes slideIn {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}