.social-media_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.social-media_container .social-media_container-left,
.social-media_container .social-media_container-right {
    display: flex;
    flex-direction: column;
    padding: 24px;
}