
.reference-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.reference-gallery-item {
    position: relative;
    flex-basis: 30%;
    opacity: .85;
    cursor: pointer;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 0px 22px -8px #004846;
    border: 1px solid rgba(255,255,255,0);
    box-sizing: border-box;
        &:hover::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000009c;
            z-index: 2;
        }
        &:hover img + .bx {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            font-size: 64px;
            z-index: 3;
            filter: invert(1);
        }
}
.reference-gallery-item:hover {
    opacity: 1; 
    border: 1px solid goldenrod;
    box-shadow: 0 0px 22px -4px goldenrod;
}
.reference-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    & + .bx {
        display: none;
    }
}
.reference-gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 10;
}
.lightbox-content {
    position: relative;
    width: 80vw;
    height: 90vh;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    background-color: #FFFFFF;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 12px;
    top: 45%;
    cursor: pointer;
    font-size: 32px;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}
.fa-window-close {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    &:hover {
        opacity: .8; 
    }
}

@media (max-width: 767px) {
    .reference-gallery-container {
        width: 100%;
    }
    .reference-gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 16px;
        &:hover::after,
        &:hover img + .bx  {
            display: none;
        }
    }
    .lightbox-content img {
        box-shadow: none;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .reference-gallery-item {
        flex-basis: 100%;
    }
    .lightbox-content {
        width: 90%;
        margin: 40% auto;
    }
}