@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #00fff7 -125%, #000000 95%);
  height: 60px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0px 24px -2px goldenrod;
}
nav .menu_container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

nav a.logo {
  position: relative;
  font-family: "Major Mono Display", monospace;
  font-size: 28px;
  font-weight: 400;
  margin: -24px 0 0 16px;
  text-decoration: none;
  color: goldenrod;
  margin-right: 200px;
}
nav a.logo span {
  position: absolute;
  top: 24px;
  left: 40px;
}

nav .desktopMenu {
  position: relative;
  display: flex;
  height: 100%;
}

nav .desktopMenu li {
  font-family: "Arsenal", sans-serif;
  position: relative;
  padding: 0px 24px;
  cursor: pointer;
  list-style: none;
  height: 60px;
}

nav .desktopMenu li:nth-child(2) {
  width: 180px;
}

nav .desktopMenu li::after {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background: goldenrod;
  position: absolute;
  bottom: calc(50% - 6px);
  left: -4px;
}

nav .desktopMenu li:first-of-type::after {
  display: none;
}

nav .desktopMenu li a {
  display: block;
  font-family: "Julius Sans One", sans-serif;
  position: relative;
  cursor: pointer;
  line-height: 60px;
  transition: 0.3s linear;
  list-style: none;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  padding: 0 8px;
}

nav .desktopMenu li a::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: rgba(255, 255, 255, 0);
  background: goldenrod;
  height: 1px;
  transition: all 0.5s;
}

nav .desktopMenu li a:hover::after {
  width: 100%;
}

nav li {
  text-transform: uppercase;
}

@media (max-width: 1201px) {
  nav .desktopMenu {
    display: none;
  }
  nav .menu_container {
    width: auto;
    margin: unset;
  }
}
@media (max-width: 600px) {
  nav a.logo {
    font-size: 24px;
  }
}
.hamburger {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  height: 2px;
  background: goldenrod;
  margin: 8px auto;
}
.hamburger::after {
  font-family: "Arsenal", sans-serif;
  content: "MENU";
  position: absolute;
  top: 32px;
  right: 4px;
  color: goldenrod;
  font-size: 12px;
}
.hamburger.active::after {
  display: none;
}

.hamburger.active .bar1 {
  height: 2px;
  background: goldenrod;
  margin: 6px auto;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg) translateX(8px) translateY(8px);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  height: 2px;
  background: goldenrod;
  margin: 6px auto;
  transition: 0.2s ease-in-out;
  transform: rotate(-45deg) translateX(6px) translateY(-6px);
}

@media (max-width: 1200px) {
  .hamburger {
    visibility: visible;
    opacity: 1;
  }
}
.mobileMenu {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #ddd;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: table;
}

.mobileMenu.active {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
  z-index: 3;
}

.mobileMenu .mobileMenu_li {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/background_image.jpeg");
  background-position: top;
}

.mobileMenu .mobileMenu_li li {
  font-family: "Arsenal", sans-serif;
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobileMenu .mobileMenu_li li:hover {
  color: #FFFFFF;
  background: goldenrod;
}

.mobileMenu .mobileMenu_li li:hover a {
  transition: all 0.3s ease-out;
  color: #FFFFFF;
}

.mobileMenu .mobileMenu_li li a {
  font-family: "Julius Sans One", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.fullWidthBurger {
  margin-right: 0 !important;
}

@media (min-width: 1201px) {
  .mobileMenu {
    visibility: hidden !important;
  }
}
@media (max-width: 360px) {
  nav a.logo {
    margin: -24px 0 0 8px;
  }
}
/* CENTERED TEXT ANIMATION */
h1.centeredText {
  transform: translateY(-500px);
  animation: 1.2s slideIn ease-in-out forwards 0.3s;
  opacity: 0;
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* SLIDE ANIMATION */
body #section01 {
  overflow-x: hidden;
}

.active.slide-left {
  animation: slide-left 1.2s ease-in;
}

.active.slide-right {
  animation: slide-right 1.2s ease-in;
}

@keyframes slide-left {
  0% {
    transform: translateX(-160px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(160px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
section.whiteSection.magicSquare {
  margin: 0;
  padding: 0;
}

section.whiteSection.magicSquare canvas {
  height: auto !important;
  width: 100vw !important;
}

.header {
  position: relative;
  height: calc(100vh - 60px);
  background-image: url("../img/background_image.jpeg");
  color: #FFFFFF;
  margin-top: 60px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 600vh;
}

.header.small {
  height: 30vh;
}

.header.small h1 {
  font-size: 3rem;
  line-height: 30vh;
  background: linear-gradient(to right, #ffd702 30%, #d18c0e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/* CENTERED TEXT ON MAIN PAGE */
h1.centeredText {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-family: "Julius Sans One", sans-serif;
  font-size: 6rem;
  z-index: 1;
  background: linear-gradient(to right, #ffd702 30%, #d18c0e 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.smallCenteredText {
  font-size: 2rem;
  font-weight: 400;
}

/* BOTTOM SHAPE */
.header .bottom-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 160px;
  width: 200vw;
  transform: rotate(180deg);
  fill: #FFFFFF;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .header .bottom-shape {
    height: 100px;
  }
}
/* SMALLER CENTERED TEXT ON MAIN PAGE ON SMARTPHONES 
AND SMALLER DEVICES ALSO */
@media (min-width: 1024px) {
  h1.centeredText {
    font-size: 6rem;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  h1.centeredText {
    font-size: 3.5rem;
    word-wrap: break-word;
  }
  .smallCenteredText {
    font-size: 1.5rem;
  }
}
@media (max-width: 639px) {
  h1.centeredText {
    font-size: 2.5rem;
    word-wrap: break-word;
  }
  .smallCenteredText {
    font-size: 1rem;
  }
}
/* SMALLER H1 TEXT ON MAIN PAGE ON SMARTPHONES 
AND SMALLER DEVICES ALSO */
@media (min-width: 640px) and (max-width: 1023px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 639px) {
  h1 {
    font-size: 2rem;
  }
}
/* HEADER IMG */
.contentDiv .headerImg {
  position: absolute;
  left: calc(50% - 50vh);
  opacity: 0.25;
  bottom: 0;
  width: 100vh;
}

@media (max-width: 1024px) {
  .contentDiv .headerImg {
    left: calc(50% - 30vh);
    width: 60vh;
  }
}
@media (max-width: 640px) {
  .contentDiv .headerImg {
    left: calc(50% - 20vh);
    width: 40vh;
  }
}
/* BUTTON BLACK */
.buttonBlack {
  position: relative;
  font-family: "Arsenal", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  border-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
  cursor: pointer;
}

.buttonBlack::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -150%;
  width: 100%;
  height: 4px;
  background-color: #004644;
  transition: 0.7s cubic-bezier(0, 1.8, 1, 1);
}

.buttonBlack:hover::before {
  right: 0;
}

.buttonBlackLink {
  color: black;
  text-decoration: none;
  padding: 10px 25px;
}

/* BUTTON WHITE*/
.buttonWhite {
  position: relative;
  font-family: "Arsenal", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  border-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  cursor: pointer;
}

.buttonWhite::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -150%;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.7s cubic-bezier(0, 1.8, 1, 1);
}

.buttonWhite:hover::before {
  right: 0;
}

.buttonWhiteLink {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
}

.magicButton {
  font-family: "Arsenal", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 24px;
  line-height: 24px;
  margin: auto;
  transition: 0.6s;
  cursor: pointer;
}

.magicButton.red {
  border: 1px solid red;
  color: red;
}

.magicButton.goldenrod {
  border: 1px solid gold;
  color: gold;
}

.magicButton.green {
  border: 1px solid green;
  color: green;
}

.magicButton.red:hover {
  background-color: red;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.magicButton.goldenrod:hover {
  background-color: gold;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.magicButton.green:hover {
  background-color: green;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.colorSection {
  position: relative;
}

.colorSection::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-image: url("../img/wave_shape.svg");
  background-size: 100vw 80px;
  width: 100vw;
  height: 80px;
  transform: rotate(180deg);
  z-index: 11;
  display: block;
}

.colorSection.footer-section::before {
  display: none;
}

@media (max-width: 800px) {
  .colorSection::before {
    background-size: 100vw 40px;
    height: 40px;
  }
}
.about_me_container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
}
.about_me_container .about_me_container-left {
  width: 30%;
}
.about_me_container .about_me_container-left img {
  border-radius: 16px;
}
.about_me_container .about_me_container-right {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  height: 400px;
  margin-left: 40px;
}

.about_me_container .about_me_container-right p {
  width: 100%;
  text-align: justify;
}

.about_me_container .about_me_container-right h1 {
  text-align: left;
  padding-left: 16px;
}

.about_me_container .about_me_container-left p {
  width: 300px;
  padding: 0;
  margin-top: 4px;
}

#experience .experience-slot {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
#experience .experience-slot p {
  padding: 2px;
}
#experience .experience-slot .golden-text {
  color: goldenrod;
}

@media (max-width: 1000px) {
  .about_me_container {
    flex-direction: column;
    width: 90vw;
  }
  .about_me_container .about_me_container-left {
    width: 100%;
    margin: 0 auto 24px;
    padding-bottom: 40px;
  }
  .about_me_container .about_me_container-left p {
    width: 100%;
  }
  .about_me_container .about_me_container-right {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .about_me_container .about_me_container-right p {
    width: 100%;
  }
  .about_me_container .about_me_container-right p,
  .about_me_container .about_me_container-right h1 {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .about_me_container .about_me_container-left img {
    width: 100%;
    height: auto;
  }
}
.large_services_container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  align-content: center;
  margin: 0 auto;
}
.large_services_container .services_container {
  width: 33.3%;
  margin: 40px;
  padding: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
}
.large_services_container .services_container:hover {
  box-shadow: 0 0px 24px -2px goldenrod;
}

.large_services_container .services_container .services_container-text p {
  width: 100%;
}

.large_services_container .services_container .services_container-text .top-text p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1000px) {
  .large_services_container {
    flex-direction: column;
    width: 90vw;
  }
  .large_services_container .services_container {
    width: 100%;
    margin: 40px 0;
  }
}
#certificate .certificates_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 24px auto;
}
#certificate .certificates_container .certificate_slot {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
#certificate .certificates_container .certificate_slot p {
  width: 25vw;
}
#certificate .certificates_container .certificate_slot .contCert {
  display: block;
  height: auto;
  width: auto;
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
  color: white;
  margin: 16px auto;
}
#certificate .certificates_container .certificate_slot .contCert img {
  transition: all 0.2s linear;
  width: 400px;
  height: auto;
}
#certificate .certificates_container .certificate_slot .contCert img:hover {
  box-shadow: 0 0 15px rgb(78, 27, 114);
  -moz-box-shadow: 0 0 15px rgb(78, 27, 114);
  -webkit-box-shadow: 0 0 15px rgb(78, 27, 114);
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 1560px) {
  #certificate .certificates_container .certificate_slot {
    width: 40vw;
  }
  #certificate .certificates_container .certificate_slot p {
    width: 40vw;
  }
}
@media (max-width: 1100px) {
  #certificate .certificates_container .certificate_slot {
    width: 90vw;
  }
  #certificate .certificates_container .certificate_slot p {
    width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  #certificate .certificates_container .certificate_slot {
    width: 100vw;
  }
  #certificate .certificates_container .certificate_slot p {
    width: 80vw;
  }
  #certificate .certificates_container .certificate_slot .contCert img {
    width: 90vw;
  }
}
.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  max-width: 2000px;
  margin: 24px auto;
}
.projects_container .projects_container-slot {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 31%;
  height: 62%;
  box-shadow: 0px 0px 24px -9px rgb(66, 68, 90);
  overflow: hidden;
  margin: 1%;
}
.projects_container .projects_container-slot .slot-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) {
  .projects_container .projects_container-slot {
    width: 42%;
    margin: 1.5%;
  }
}
@media (max-width: 880px) {
  .projects_container {
    width: 90vw;
  }
  .projects_container .projects_container-slot {
    width: 100%;
    margin: 2%;
  }
}
.social-media_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.social-media_container .social-media_container-left,
.social-media_container .social-media_container-right {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.footer_container .footer_container-left {
  display: flex;
  flex-direction: row;
  width: 35%;
}

.footer_container-left p,
.footer_container-right p {
  font-weight: 700;
  margin: 8px;
}

.footer_container-right .shortcuts ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer_container-right .shortcuts ul li {
  margin: 8px;
  border-right: 1px solid goldenrod;
}
.footer_container-right .shortcuts ul li:last-child {
  border-right: none;
}
.footer_container-right .shortcuts ul li a {
  font-family: "Arsenal", sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding-right: 12px;
  margin-right: 4px;
}
.footer_container-right .shortcuts ul li a:hover {
  color: goldenrod;
}

.footer_container p {
  width: auto;
}

.footer-copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom, #00fff7 -250%, #000000 95%);
  color: #FFFFFF;
  margin-top: 16px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .footer_container {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .footer_container {
    flex-direction: column;
    width: 100%;
  }
  .footer_container p {
    border-bottom: 1px solid #FFF;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .footer_container .footer_container-left {
    flex-direction: column;
    width: 100%;
  }
  .footer_container-right .shortcuts ul {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 460px) {
  .footer_container-right .shortcuts ul {
    width: 100%;
    flex-direction: column;
  }
  .footer_container-right .shortcuts ul li {
    border-right: none;
  }
  .footer_container-right .shortcuts ul li a {
    padding: 0;
    margin: 0;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(to top, #00fff7 -125%, #000000 95%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

strong {
  font-weight: 900;
}

p,
ol li {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: white;
}

.bluelink {
  color: rgb(35, 47, 94);
}

p {
  padding: 1rem;
  text-align: center;
  font-family: "Arsenal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  width: 1000px;
  margin: 0 auto;
}

section ul li {
  padding: 1rem;
  text-align: center;
  font-family: "Arsenal", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  list-style: none;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Arsenal", sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

h3 {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Arsenal", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
}

.whiteSection {
  background-color: #FFFFFF;
  color: #000000;
}

.colorSection {
  background: linear-gradient(to top, #00fff7 -125%, #000000 95%);
  color: #FFFFFF;
}

section {
  padding: 1.5rem;
  overflow-x: hidden;
  padding: 80px 0;
}

/* TECHNOLOGIES LOGOS */
.techLogoImg {
  width: 120px;
  height: auto;
}

/* SOCIAL MEDIA ICONS - FOOTER */
.colorSection .fab {
  font-size: 35px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.colorSection .far {
  font-size: 35px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.fab:hover,
.far:hover,
.bluelink:hover {
  color: goldenrod;
}

.smicons {
  color: #232f5e;
  font-size: 46px;
}

.blockedBody {
  height: 100%;
  overflow: none;
  -webkit-overflow-scrolling: none;
  -ms-overflow-style: none;
  position: fixed;
  left: 0;
  right: 0;
}

.headerOpacity {
  opacity: 0.4;
}

.live-code__container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 60%;
  height: 36px;
  background: #FFFFFF;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 16px -4px #42445a;
}

.live-code__container .live-link,
.live-code__container .code-link {
  display: flex;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: 0.6s;
}
.live-code__container .live-link span,
.live-code__container .code-link span {
  font-size: 10px;
  margin-left: 4px;
}

.live-code__container .live-link:hover,
.live-code__container .code-link:hover {
  color: gold;
}

/* Icons section */
.icons-section {
  width: 1000px;
  margin: 24px auto;
}
.icons-section img {
  width: 90px;
  height: auto;
  margin: 16px;
}

/* Google Map */
iframe.google-map {
  width: 100vw;
  height: 400px;
  margin-bottom: -4px;
}

/* scrooll arrow up */
.scroll-arrow-up.show {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-image: linear-gradient(#00fff7 -125%, #000000 95%);
  width: 64px;
  height: 64px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 0 0 8px 2px #FFFFFF;
  z-index: 10000000000000000000000;
  animation: arrow-slide ease-in-out 0.4s;
}

@keyframes arrow-slide {
  0% {
    right: -40px;
  }
  100% {
    right: 16px;
  }
}
.scroll-arrow-up.show:hover {
  color: #1d998b;
  box-shadow: 0 0 8px 2px #09534a;
}

.scroll-arrow-up {
  display: none;
}

@media (max-width: 1000px) {
  p,
  ol li {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .icons-section {
    width: 90vw;
  }
  .icons-section img {
    width: 80px;
  }
}
@media (max-width: 800px) {
  .header.small.moreLines h1 {
    line-height: 4rem;
  }
  .header.small {
    height: auto;
    padding: 24px;
  }
  .header.small.moreLines h1,
  .header.small h1 {
    line-height: 2.2rem;
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  .row {
    flex-basis: 30%;
  }
}/*# sourceMappingURL=style.css.map */